<div id="float-social-wrap">

	<div id="float-social">
		<a href="mailto:?subject={{ .Title | safeURL }}&amp;body={{ .Permalink | safeURL }}" class="email-share popup"> </a>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeURL }}" class="popup facebook-share"> </a>
		<a href="https://twitter.com/share" class="popup twitter-share"> </a>
		<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | safeURL }}&amp;title={{ .Title | safeURL }}" class="popup linkedin-share"> </a>
		<a class="reddit-share popup" href="https://www.reddit.com/submit?url={{ .Permalink | safeURL }}"> </a>
	</div>
			
</div>