<div id="float-social-wrap">

	<div id="float-social">
		<a href="mailto:?subject=Installing%20OpenSSH%20Server%20on%20Windows&amp;body=http://hiller.pro/2015/12/06/installing-openssh-server-on-windows" class="email-share popup"> </a>
		<a href="https://www.facebook.com/sharer/sharer.php?u=http://hiller.pro/2015/12/06/installing-openssh-server-on-windows" class="popup facebook-share"> </a>
		<a href="http://twitter.com/share" class="popup twitter-share"> </a>
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://hiller.pro/2015/12/06/installing-openssh-server-on-windows&amp;title=Installing%20OpenSSH%20Server%20on%20Windows&amp;summary=Back%20in%20June%20of%20this%20year%20Microsoft%20announced%20that%20they%20were%20working%20on%20a%20project%20to%20get%20sshd%20working%20proper%20on%20windows.%20Many%2c%20including%20myself%20didn%26rsquo%3bt%20believe%20it%20at%20the%20time%2c%20but%20then%20it%20surfaced%20again%20in%20October%2c%20this%20time%20for%20real%2c%20and%20I%20paid%20attention.%20I%20took%20the%20time%20this%20evening%20to%20give%20it%20a%20go%2c%20and%20it%20does%20work%2c%20and%20you%20too%20can%20get%20it%20up%20and%20running%20in%20no%20time%20flat...." class="popup linkedin-share"> </a>
		<a class="reddit-share popup" href="http://www.reddit.com/submit?url=http://hiller.pro/2015/12/06/installing-openssh-server-on-windows"> </a>
	</div>
			
</div>