<a class="menu-icon" title="Menu"><span class="lines"></span></a>
<header>
	<div class="h-wrap">
		{{ with .Site.Title }}
		<h1 class="title"><a href="{{ $.Site.BaseURL }}">{{ . }}</a></h1>
		{{ end }}
	</div>
	<div class="readProgressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">&nbsp;</div>

	{{ with .Site.Params.description }}
	<h5 id="header-tagline">{{ . }}</h5>
	{{ end }}

	<div class="readProgressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">&nbsp;</div>
</header>
<div id="h-space"></div>