<div class="share-bar">
	<a href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink | safeURL }}" class="email-share popup">email</a>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeURL }}" class="popup facebook-share">facebook</a>
	<a href="http://twitter.com/share" class="popup twitter-share">twitter</a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | safeURL }}&amp;title={{ .Title }}&amp;summary={{ .Summary }}..." class="popup linkedin-share">linkedIn</a>
	<a class="reddit-share popup" href="http://www.reddit.com/submit?url={{ .Permalink | safeURL }}">reddit</a>
</div>