<div id="find-me-on">
	<h5>Find Me On</h5>
	<!-- NEEDS TESTING
	<a href="https://github.com/{{ with .Site.Params.github }}{{ . }}{{ end }}" class="github">GitHub</a> 
	<a href="https://www.linkedin.com/in/{{ with .Site.Params.linkedin }}{{ . }}{{ end }}" class="linkedin-share">LinkedIn</a>
	-->
	<a href="https://github.com/{{ .Site.Params.gituser }}" class="github">GitHub</a>
    <a href="{{ .Site.Params.linkedin }}" class="linkedin-share">LinkedIn</a>
	<a href="{{ .Site.Params.stackOverflow }}" class="stackOverflow-share">Stack Overflow</a>
</div>